*.o
*.dl
!pkg/root/usr/local/share/hp1018/sihp1018.dl
*.pkg
*.dmg
build/
pkg-build/
rastertoxqx
rastertozjs
rastertohiperc
rastertoqpdl
rastertolava
rastertohbpl2
rastertohp
rastertooak
rastertoslx
arm2hpdl
xqxdecode
zjsdecode
.claude/
